@model CharacterDetailsModel

<div class="table-sm table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr style="background-color: lightblue">
                <td><b>Attribute</b></td>
                <td><b>Score</b></td>
                <td><b>Mod</b></td>
            </tr>
            <tr class="text-center">
                <td class="text-left" style="background-color: aliceblue">Strength</td>
                <td>@Model.Strength</td>
                <td>@Model.StrengthMod</td>
            </tr>
            <tr class="text-center">
                <td class="text-left" style="background-color: aliceblue">Dexterity</td>
                <td>@Model.Dexterity</td>
                <td>@Model.DexterityMod</td>
            </tr>
            <tr class="text-center">
                <td class="text-left" style="background-color: aliceblue ">Constitution</td>
                <td>@Model.Constitution</td>
                <td>@Model.ConstitutionMod</td>
            </tr>
            <tr class="text-center">
                <td class="text-left" style="background-color: aliceblue">Intelligence</td>
                <td>@Model.Intelligence</td>
                <td>@Model.IntelligenceMod</td>
            </tr>
            <tr class="text-center">
                <td class="text-left" style="background-color: aliceblue">Wisdom</td>
                <td>@Model.Wisdom</td>
                <td>@Model.WisdomMod</td>
            </tr>
            <tr class="text-center">
                <td class="text-left" style="background-color: aliceblue">Charisma</td>
                <td>@Model.Charisma</td>
                <td>@Model.CharismaMod</td>
            </tr>
        </tbody>
    </table>
</div>