@model CharacterDetailsModel

<div class="table-sm table-responsive">
    <table class="table table-hover table-bordered">
        <tbody>
            <tr class="text-center" style="background-color: lightblue">
                <td><b>Armor</b></td>
                <td class="col-1"><b>AC</b></td>
                <td class="col-1"><b>Enc.</b></td>
                <td class="col-1"><b>TL</b></td>
                <td class="col-2"><b>Location</b></td>
            </tr>
            @if (Model.CharactersArmors.Any(ca => ca.CharacterId == Model.Id))
            {
                @foreach (var characterArmor in @Model.CharactersArmors.Where(ca => ca.CharacterId == Model.Id))
                {
                    <tr class="text-center">
                        <td>
                            <a asp-controller="Armors" asp-action="Edit" asp-route-characterArmorId="@characterArmor.Id" class="text-decoration-none">
                                @characterArmor.ArmorName
                            </a>
                        </td>
                        <td>@characterArmor.ArmorClass</td>
                        <td>@characterArmor.ArmorEncumbrance</td>
                        <td>@characterArmor.ArmorTechLevel</td>
                        <td>@characterArmor.ArmorLocation</td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td>No equipped Armor</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <a asp-controller="Armors" asp-action="Add" asp-route-characterId="@Model.Id" class="text-decoration-none">
                        <div class="text-center">
                            <input type="button" style="font-size: 0.85rem; padding-top:0.25rem" class="btn @ViewBag.ButtonColor" @ViewBag.DisabledButton value="Add" />
                        </div>
                    </a>
                </td>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</div>