@model CharacterDetailsModel

<div class="table-sm table-responsive">
    <table class="table table-hover table-bordered">
        <tbody>
            <tr class="text-center" style="background-color: lightblue">
                <td><b>Skills</b></td>
                <td class="col-1"><b>Level</b></td>
            </tr>
            @if (Model.CharactersSkills.Any(cs => cs.CharacterId == Model.Id))
            {
                @foreach (var characterSkill in @Model.CharactersSkills.Where(cs => cs.CharacterId == Model.Id))
                {
                    <tr class="text-center">
                        <td>
                            <a asp-controller="Skills" asp-action="Edit" asp-route-characterSkillId="@characterSkill.Id" class="text-decoration-none">
                                @characterSkill.SkillName
                            </a>
                        </td>
                        <td>@characterSkill.SkillLevel</td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td>No skills selected</td>
                    <td>N/A</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="Skills" asp-action="Add" asp-route-characterId="@Model.Id" class="text-decoration-none">
    <div class="text-center">
        <input type="button" class="btn btn-block @ViewBag.ButtonColor" @ViewBag.DisabledButton value="Add" />
    </div>
</a>