@model CharacterDetailsModel

<div class="table-sm table-responsive" style="margin-top:20px">
    <table class="table table-hover table-bordered">
        <tbody>
            <tr class="text-center" style="background-color: lightblue">
                <td class="col-3"><b>Melee Weapon</b></td>
                <td><b>Enc.</b></td>
                <td class="col-1"><b>Attribute</b></td>
                <td class="col-2"><b>Throw</b></td>
                <td class="col-1"><b>Damage</b></td>
                <td class="col-2"><b>Shock</b></td>
                <td><b>TL</b></td>
                <td><b>Location</b></td>
            </tr>
            @if (Model.CharactersMeleeWeapons.Any(cmw => cmw.CharacterId == Model.Id))
                    {
            @foreach (var characterMeleeWeapon in @Model.CharactersMeleeWeapons.Where(ca => ca.CharacterId == Model.Id))
                        {
            <tr class="text-center">
                <td>
                    <a asp-controller="MeleeWeapons" asp-action="Edit" asp-route-characterMeleeWeaponId="@characterMeleeWeapon.Id" class="text-decoration-none">
                        @characterMeleeWeapon.MeleeWeaponName
                    </a>
                </td>
                <td>@characterMeleeWeapon.MeleeWeaponEncumbrance</td>
                <td>@characterMeleeWeapon.MeleeWeaponAttribute</td>
                <td>@characterMeleeWeapon.MeleeWeaponThrowRange@Html.Raw("m")</td>
                <td>@characterMeleeWeapon.MeleeWeaponDamage</td>
                <td>@characterMeleeWeapon.MeleeWeaponShockPoints / @characterMeleeWeapon.MeleeWeaponShockAC AC</td>
                <td>@characterMeleeWeapon.MeleeWeaponTechLevel</td>
                <td>@characterMeleeWeapon.MeleeWeaponLocation</td>
            </tr>
                        }
                    }
                    else
                    {
            <tr class="text-center">
                <td>No equipped Melee Weapon</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
                    }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <a asp-controller="MeleeWeapons" asp-action="Add" asp-route-characterId="@Model.Id" class="text-decoration-none">
                        <div class="text-center">
                            <input type="button" style="font-size: 0.85rem; padding-top:0.25rem" class="btn @ViewBag.ButtonColor" @ViewBag.DisabledButton value="Add" />
                        </div>
                    </a>
                </td>
                <td colspan="7"></td>
            </tr>
        </tfoot>
    </table>
</div>