@model ICollection<CharacterListingModel>

<div class="row">
    <div class="card-deck">
        @foreach (var classPreview in Model)
        {
            <div class="card" style="width: 18rem">
                <img class="card-img-top" src="@classPreview.CharacterImage" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@classPreview.Name</h4> <h5>[Level @classPreview.Level @classPreview.Background @classPreview.Class]</h5>
                    <p class="card-text">
                        <b>Homeworld:</b> @classPreview.Homeworld
                        <div></div>
                        <b>Species:</b> @classPreview.Species
                    </p>
                    <a asp-controller="Characters" asp-action="Details" asp-route-characterId="@classPreview.Id" class="btn btn-primary">View</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        }
    </div>
</div>
