@model CharacterDetailsModel

@{
    if (Model.OwnerId != Model.UserId && Model.Game.GameMasterId != Model.UserId && !User.IsAdmin())
    {
        ViewBag.DisabledButton = "disabled";
        ViewBag.ButtonColor = "btn-secondary";
    }
    else
    {
        ViewBag.DisabledButton = string.Empty;
        ViewBag.ButtonColor = "btn-info";
    }
}

<div class="d-flex">
    <div class="col-3">
        <img src="@Model.CharacterImage" class="img-thumbnail" alt="Character Image" style="width:100%; height: 350px; object-fit: cover">
        <a asp-controller="Characters" asp-action="Edit" asp-route-characterId="@Model.Id" class="text-decoration-none">
            <div class="text-center">
                <input type="button" class="btn btn-block @ViewBag.ButtonColor" @ViewBag.DisabledButton value="Edit" />
            </div>
        </a>
    </div>

    <div class="col-9">
        <div class="card" style="border: 1px solid #dee2e6; padding:0.80rem">
            <div class="d-flex justify-content-between">
                <h2>@Model.Name [Level @Model.Level]</h2>
                <small><b>Game:</b> <a asp-controller="Games" asp-action="Details" asp-route-gameId="@Model.GameId" asp-route-information="@Model.Game.GetGameUrlInfo()">@Model.Game.Name</a></small>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.XPBarWidth@Html.Raw("%"); background-color: mediumpurple" aria-valuenow="@Model.CurrentXP" aria-valuemin="@Model.MinimumXP" aria-valuemax="@Model.MaximumXP"><span class="text-dark">@Model.XPBarWidth% (@Model.CurrentXP / @Model.MaximumXP)</span></div>
            </div>
        </div>

        <br />

        <div class="d-flex">
            <div class="col-10" style="padding-left:7.5px; padding-right:7.5px">
                <partial name="_CharacterMainInfoView" model="@Model" />
                <partial name="_CharacterStatusInfoView" model="@Model" />
            </div>

            <div class="col-2" style="padding-left:7.5px; padding-right:0px">
                <partial name="_CharacterSavingThrowsView" model="@Model" />
            </div>
        </div>
    </div>
</div>

<div class="d-flex" style="margin-top:20px">
    <div class="col-3">
        <partial name="_CharacterAttributesView" model="@Model" />
        <partial name="_CharacterCombatStatsView" model="@Model" />
    </div>
    <div class="col-9">
        <div class="d-flex">
            <div class="col-6" style="padding-left: 0px; padding-right: 7.5px">
                <partial name="_CharacterSkillsView" model="@Model" />
            </div>
            <div class="col-6" style="padding-left: 7.5px; padding-right:0px">
                <partial name="_CharacterFociView" model="@Model" />
            </div>
        </div>
    </div>
</div>

<div class="d-flex" style="margin-top:20px">
    <div class="col-8">
        <partial name="_CharacterArmorView" model="@Model" />
        <partial name="_CharacterMeleeWeaponsView" model="@Model" />
        <partial name="_CharacterRangedWeaponsView" model="@Model" />
    </div>
    <div class="col-4">
        <partial name="_CharacterEquipmentView" model="@Model" />
    </div>
</div>

<div class="d-flex">
    <div class="col-12"  style="margin-top:20px">
        <div class="table table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr class="text-center" style="background-color: lightblue">
                        <td><b>Bio</b></td>
                    </tr>
                    <tr class="text-justify">
                        <td>@Model.Bio</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
