@model CharacterDetailsModel

@{
    if (Model.OwnerId != Model.UserId && Model.Game.GameMasterId != Model.UserId && !User.IsAdmin())
    {
        ViewBag.DisabledButton = "disabled";
        ViewBag.ButtonColor = "btn-secondary";
    }
    else
    {
        ViewBag.DisabledButton = string.Empty;
        ViewBag.ButtonColor = "btn-info";
    }
}

<div class="d-flex">
    <div class="col-3">
        <img src="@Model.CharacterImage" class="img-thumbnail" alt="Character Image" style="height: 320px; object-fit: cover">
        <a asp-controller="Characters" asp-action="Edit" asp-route-characterId="@Model.Id" class="text-decoration-none">
            <div class="text-center">
                <input type="button" class="btn btn-block @ViewBag.ButtonColor" @ViewBag.DisabledButton value="Edit" />
            </div>
        </a>
    </div>

    <div class="col-9">
        <div class="card" style="border: 1px solid #dee2e6; padding:0.80rem">
            <div class="d-flex justify-content-between">
                <h2>@Model.Name [Level @Model.Level]</h2>
                <small><b>Game:</b> <a asp-controller="Games" asp-action="Details" asp-route-gameId="@Model.GameId">@Model.Game.Name</a></small>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.XPBarWidth@Html.Raw("%"); background-color: mediumpurple" aria-valuenow="@Model.CurrentXP" aria-valuemin="@Model.MinimumXP" aria-valuemax="@Model.MaximumXP"><span class="text-dark">@Model.XPBarWidth% (@Model.CurrentXP / @Model.MaximumXP)</span></div>
            </div>
        </div>

        <br />

        <div class="d-flex">
            <div class="col-10" style="padding-left:7.5px; padding-right:7.5px">
                <partial name="_CharacterMainInfoView" model="@Model" />

                <partial name="_CharacterStatusInfoView" model="@Model" />
            </div>

            <div class="col-2" style="padding-left:7.5px; padding-right:0px">
                <div class="table table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="text-center" style="background-color: lightblue">
                                <td colspan="2"><b>Saving Throws</b></td>
                            </tr>
                            <tr class="text-center">
                                <td style="background-color: aliceblue">Physical</td>
                                <td>@Model.SavingThrowPhysical</td>
                            </tr>
                            <tr class="text-center">
                                <td style="background-color: aliceblue">Mental</td>
                                <td>@Model.SavingThrowMental</td>
                            </tr>
                            <tr class="text-center">
                                <td style="background-color: aliceblue">Evasion</td>
                                <td>@Model.SavingThrowEvasion</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex" style="margin-top:20px">
    <div class="col-3">
        <partial name="_CharacterAttributesView" model="@Model" />

        <partial name="_CharacterCombatStatsView" model="@Model" />
    </div>
    <div class="col-9">
        <div class="d-flex">
            <div class="col-6" style="padding-left:0px; padding-right:7.5px">
                <partial name="_CharacterSkillsView" model="@Model" />
            </div>
            <div class="col-6" style="padding-left:7.5px; padding-right:0px">
                <partial name="_CharacterFociView" model="@Model" />
            </div>
        </div>
    </div>
</div>

<div class="d-flex" style="margin-top:20px">
    <div class="col-6">
        <div class="table-sm table-responsive">
            <table class="table table-hover table-bordered">
                <tbody>
                    <tr class="text-center" style="background-color: lightblue">
                        <td><b>Armor</b></td>
                        <td class="col-1"><b>AC</b></td>
                        <td class="col-1"><b>Enc.</b></td>
                        <td class="col-1"><b>TL</b></td>
                        <td class="col-2"><b>Location</b></td>
                    </tr>
                    @if (Model.CharactersArmors.Any(ca => ca.CharacterId == Model.Id))
                    {
                        @foreach (var characterArmor in @Model.CharactersArmors.Where(ca => ca.CharacterId == Model.Id))
                        {
                            <tr class="text-center">
                                <td>
                                    <a asp-controller="Armors" asp-action="Edit" asp-route-characterArmorId="@characterArmor.Id" class="text-decoration-none">
                                        @characterArmor.ArmorName
                                    </a>
                                </td>
                                <td>@characterArmor.ArmorClass</td>
                                <td>@characterArmor.ArmorEncumbrance</td>
                                <td>@characterArmor.ArmorTechLevel</td>
                                <td>@characterArmor.ArmorLocation</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="text-center">
                            <td>No equipped Armor</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a asp-controller="Armors" asp-action="Add" asp-route-characterId="@Model.Id" class="text-decoration-none">
            <div class="text-center">
                <input type="button" class="btn btn-block @ViewBag.ButtonColor" @ViewBag.DisabledButton value="Add" />
            </div>
        </a>
    </div>
    <div class="col-6">
        <partial name="_CharacterEquipmentView" model="@Model" />
        <div class="card" style="height: 120px; margin-bottom: 20px; margin-top: 20px">
        </div>
        <div class="card" style="height: 160px;">
        </div>
    </div>
</div>

<div class="card" style="height: 300px; margin-top: 20px">

</div>
