@model IEnumerable<GamePreviewModel>

<section>
    <div class="row mx-1">
        <div class="list-group col-12">
            <div class="card card-image card" style="background-image: url(https://wallpaperaccess.com/full/45416.jpg); ">
                <div class="text-white text-center align-items-center rgba-black-strong py-5 px-3">
                    <div>
                        <h2 class="card-title py-3 font-weight-bold"><strong>Sheets Without Number</strong></h2>
                        <p>
                            Below you can find a list of all currently ongoing games.
                        </p>
                        <input type="button" class="btn btn-info" style="width:200px" value="Create Game" onclick="location.href='@Url.Action("Create", "Games")'" />
                    </div>
                </div>

                @foreach (var gamePreview in Model)
                {
                    <a asp-controller="Games" asp-action="Details" asp-route-gameId="@gamePreview.Id" asp-route-information="@gamePreview.GetGameUrlInfo()" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <img src="@gamePreview.GameImage" class="img-thumbnail flex-shrink-0" alt="Cinque Terre" style="width: 150px; height: 100px; object-fit: cover">
                            <div class="flex-grow-1" style="padding-left: 10px; padding-right: 10px">
                                <h5 class="mb-1">@gamePreview.Name</h5>
                                <p class="mb-1">@gamePreview.Description</p>
                                <small>Players: @gamePreview.PlayersCurrent / @gamePreview.PlayersMax</small>
                            </div>
                            @if (gamePreview.Users.Any(u => u.Id == gamePreview.CurrentUserId))
                            {
                                <small class="text-success">Joined</small>
                            }
                            else
                            {
                                if (@gamePreview.PlayersCurrent < @gamePreview.PlayersMax)
                                {
                                    <small class="text-info">Free slot available!</small>
                                }
                                else
                                {
                                    <small class="text-danger">Full</small>
                                }
                            }
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>