@model AllGamesQueryModel

<section>
    <div class="row mx-1">
        <div class="list-group col-12">
            <div class="card card-image card" style="background-image: url(https://wallpaperaccess.com/full/45416.jpg); ">
                <div class="text-white text-center align-items-center rgba-black-strong py-4 px-3">
                    <div>
                        <h2 class="card-title py-3 font-weight-bold"><strong>Sheets Without Number</strong></h2>
                        <p>
                            Below you can find a list of all currently ongoing games.
                        </p>

                        <input type="button" class="btn btn-info col-2" value="Create Game" onclick="location.href='@Url.Action("Create", "Games")'" />
                        <form method="get">
                            <div class="d-flex mb-2">
                                <div class="offset-3 col-3">
                                    <label asp-for="SearchTerm"></label>
                                    <input asp-for="SearchTerm" class="form-control" placeholder="Search for games..." />
                                </div>

                                <div class="col-3">
                                    <label asp-for="Sorting"></label>
                                    <select asp-for="Sorting" class="form-control">
                                        <option value="0" selected>Date Created</option>
                                        <option value="1">Open Slots</option>
                                        <option value="2">Game Master</option>
                                    </select>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-info col-1" style="height: calc(1.5em + .75rem + 2px)" value="Search" />
                        </form>
                    </div>
                </div>

                @foreach (var gamePreview in Model.Games)
                {
                    <a asp-controller="Games" asp-action="Details" asp-route-gameId="@gamePreview.Id" asp-route-information="@gamePreview.GetGameUrlInfo()" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <img src="@gamePreview.GameImage" class="img-thumbnail flex-shrink-0" alt="Cinque Terre" style="width: 150px; height: 100px; object-fit: cover">
                            <div class="flex-grow-1" style="padding-left: 10px; padding-right: 10px">
                                <h5 class="mb-1">@gamePreview.Name</h5>
                                <p class="mb-1">@gamePreview.Description</p>
                                <small>Players: @gamePreview.PlayersCurrent / @gamePreview.PlayersMax</small>
                            </div>
                            @if (gamePreview.Users.Any(u => u.Id == gamePreview.CurrentUserId))
                            {
                                <small class="text-success">Joined</small>
                            }
                            else
                            {
                                if (@gamePreview.PlayersCurrent < @gamePreview.PlayersMax)
                                {
                                    <small class="text-info">Free slot available!</small>
                                }
                                else
                                {
                                    <small class="text-danger">Full</small>
                                }
                            }
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</section>