@model GameDetailsModel

<div class="list-group-item flex-column align-items-start">
    <div class="d-flex justify-content-between">
        <img src="@Model.GameImage" class="img-thumbnail flex-shrink-0" alt="Game Image" style="width: 375px; height: 300px; object-fit: cover">
        <div class="flex-grow-1" style="padding-left: 10px; padding-right: 10px">
            <h3 class="mb-1 text-center">@Model.Name</h3>
            <p class="mb-1">@Model.Description</p>

            <hr />

            <h4>Players:</h4>
            @foreach (var user in Model.Players)
            {
                <p class="mb-1">
                    @user.UserName
                    @if (user.Id == Model.GameMasterId)
                    {
                        <b>(GM)</b>
                    }
                    @foreach (var character in Model.Characters)
                    {
                        if (character.OwnerId == user.Id)
                        {
                            @character.Name @Html.Raw(" "); @character.Level
                        }
                    }
                </p>
            }

            @if (!Model.Characters.Any(c => c.OwnerId == User.GetId()))
            {
            <a asp-controller="Characters" asp-action="Create" asp-route-gameId="@Model.Id">
                <div class="text-center">
                    <input type="button" class="btn btn-primary" style="width:200px" value="Create Character" />
                </div>
            </a>
            }
        </div>
    </div>
</div>